body{
    text-align:center;
}

.init_button
{
    border:1px solid;
    font-weight:bold;
    margin:10px;
    height:30px;
    padding:0 10px;
    cursor:pointer;
    text-shadow:1px 1px 2px rgba(0,0,0,0.03)
  
}

.init_button:hover{text-decoration:none;}
.init_button:active{ background-image:none;}



.blue
{
    color:#fefefe;
    border-color:#56AAE2 #56AAE2 #41A0E0;
background: #88bfe8;
background: -moz-linear-gradient(top,  #88bfe8 0%, #80bbe5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88bfe8), color-stop(100%,#80bbe5));
background: -webkit-linear-gradient(top,  #88bfe8 0%,#80bbe5 100%);
background: -o-linear-gradient(top,  #88bfe8 0%,#80bbe5 100%);
background: -ms-linear-gradient(top,  #88bfe8 0%,#80bbe5 100%);
background: linear-gradient(top,  #88bfe8 0%,#80bbe5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88bfe8', endColorstr='#80bbe5',GradientType=0 );

    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #A7CBE5;
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #A7CBE5;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #A7CBE5;
    
}

.blue:active{background-color:#95C4E5;}

